.about_container {
    display: grid;
    grid-template-columns: 35% 50% ;
    gap: 15%;

}

.about_me {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, rgba(255, 0, 0, 0.377), transparent);
    display: grid;
    place-items: center;   
   }

.about_img{
    margin-top:5rem;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    box-shadow: 5px 10px #da13f581;
    height: auto;
   
}


.about_img:hover {
    transform: rotate(0deg);
    transition: var(--transition);
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: all 400ms ease;

}

.card:hover {
    background: rgba(0, 0, 0, 0.5);
    border-color: white;
    color: white;
    font-size: 1.2rem;
}

.card h5{
    font-size: 0.95rem;
}

.card small {
    font-size: 0.7rem;
    color: var(--color-primary);
}

.about_icon {
    color: var(--color-primary);
    font-size: 1.3rem;
}

.about_content p{
    margin: 2rem 1.2rem;
    text-align: center;
    font-size: 1.2rem;
    color: rgba(0, 247, 255, 0.993);
}
/*MEDIUM DEVICE*/
@media screen and (max-width: 1024px) {
    .about_container {
        grid-template-columns: 1fr;
        
    }
    .about_me {
        width: 50%; 
      
        margin: 2rem auto 4rem;
    }
    
    .about_content p {
        margin: 1rem 0 1.5rem;
    }

    }
    /*SMALL DEVICE*/
    @media screen and (max-width: 600px){
    .about_me{
        width: 70%;
        margin: 0rem auto 3rem;
    }
    .about_cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about_content {
        text-align: center;
    }
  
   
}